* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", "Sans serif";
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

header div {
    display: inline-block;
    margin: 20px 10px;
}

header div a {
    margin-left: 11px;
}

#headerleft, #footerleft {
    float: left;
}

#headerright {
    margin-right: 1px;
}

#menu, #headerright, #footerright {
    float: right;
}

#menu {
    margin-right: 30px;
    margin-top: 15px;
}

#photo {
    border-radius: 100%;
}

main {
    display: block;
    padding-top: 200px;
    text-align: center;
}

#searchbar {
    border-style: solid;
    border-color: rgba(34, 34, 34, 0.2);
    border-width: 1px;
    border-radius: 50px;
    height: 42px;
    width: 560px;
    margin: 25px auto;
    text-align: initial;
}

#searchbar:hover, #seachbar:active {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#searchbar input {
    border: none;
    outline: none;
    position: relative;
    left: 20px;
    top: 8px;
    width: 510px;
    height: 60%;
    font-size: 16px;
}

#searchbar img {
    width: 15px;
    height: 15px;
    position: relative;
    left: 15px;
    top: 8px;
}

#buttons {
    display: inline-block;
    margin-top: 1px;
}

#buttons input {
    font-size: 14px;
    font-family: "Arial";
    color: rgb(95, 99, 104);
    background-color: rgb(242, 242, 242);
    border: none;
    border-radius: 5px;
    margin: 0px 6px;
    height: 36px;
    width: 136px;
    cursor: pointer;
}

#buttons input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

footer {
    border-top: solid 1px #e4e4e4;
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px; 
}

footer a {
    position: relative;
    color: rgb(95, 99, 104);
    font-size: 13px;
    margin-left: 16px;
    top: 10px;
}

#top {
    border-bottom: solid 1px #e4e4e4;
    font-size: 15px;
    padding: 10px 20px;
}

#footerleft {
    position: relative;
    left: 6px;
}

#footerright {
    position: relative;
    right: 20px;
}