* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial"
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#photo {
    border-radius: 100%;
}

#searchbar {
    border-style: solid;
    border-color: rgba(34, 34, 34, 0.2);
    border-width: 1px;
    border-radius: 50px;
    height: 42px;
    width: 560px;
    display: block;
}

#searchbar:hover, #seachbar:active {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#searchbar input {
    border: none;
    outline: none;
    position: relative;
    left: 20px;
    top: 8px;
    width: 510px;
    height: 60%;
    font-size: 16px;
}

#searchbar img {
    width: 15px;
    height: 15px;
    position: relative;
    left: 15px;
    top: 8px;
}

#buttons {
    margin: 20px;
}

#buttons input {
    font-size: 14px;
    font-family: "Arial";
    color: rgb(95, 99, 104);
    background-color: rgb(242, 242, 242);
    border: none;
    border-radius: 5px;
    margin: 0px 6px;
    height: 36px;
    width: 136px;
    cursor: pointer;
}

#buttons input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

footer {
  border: solid 1px #e4e4e4;
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}

footer a {
    color: rgb(95, 99, 104);
    font-size: 13px;
}